h1 {
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
    font-size: 6vh;
    margin: 0;
    padding: 0;
}

h2 {
    color: black;
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    font-size: 7vh;
}

p {
    color: black;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    font-size: 4vh;
}

.animatedText {
    padding: 0 5vw 0 5vw;
}